$font-family-base:            'RobotoCondensedLight',sans-serif;

//$font-size-base:              1.25rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.85;
$h3-font-size:                $font-size-base * 1.7;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.4;
$h6-font-size:                $font-size-base;

$primary: #245682;